* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; }
  header img.logo:hover {
    transform: scale(0.8);
    rotate: -10deg;
    transition: 3s; }
  header .nav-link {
    font-family: 'Luckiest Guy';
    color: white;
    text-shadow: 3px 0px 0px #e2332b; }
  header .nav-link:hover {
    font-family: 'Luckiest Guy';
    color: white;
    text-shadow: 3px 0px 0px #518829;
    transform: scale(1.5) rotate(20deg);
    transition: 3s; }

body {
  background-color: #5d5ee6; }
  body a {
    color: white;
    text-decoration: none; }

main h1 {
  text-align: center;
  font-family: 'Luckiest Guy';
  font-size: 3rem;
  color: #d24adb;
  text-shadow: 3px 0px 0px white;
  margin-top: 2rem; }

main p {
  text-align: center;
  font-family: 'Luckiest Guy';
  color: white;
  padding: 2rem;
  margin: 2rem;
  background-image: linear-gradient(#7547ff, #1140fb);
  border-radius: 100px;
  text-align: center;
  border: 5px dotted #e68829;
  text-shadow: 5px 3px 5px black; }

main .selector {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 2rem;
  background-color: #d24adb;
  border-radius: 100px;
  margin: 2rem;
  padding: 2rem;
  border: 5px dotted #e68829; }

main .selector select {
  height: 2rem;
  border-radius: 100px;
  background-color: #5d5ee6;
  font-family: 'Luckiest Guy';
  color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  gap: 0.5rem; }

main .reproductor {
  display: grid;
  grid-area: 1fr;
  justify-content: center;
  text-align: center;
  margin: 2rem;
  padding: 2rem;
  gap: 1rem;
  background-color: #518829;
  border-radius: 100px;
  border: 5px dotted #e68829; }

main div a {
  font-size: 2rem;
  font-family: 'Luckiest Guy';
  color: white;
  text-shadow: 5px 3px 5px black; }

main section.botones {
  background-color: #e68829;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  margin-top: 2rem; }

main button.juega {
  height: 2rem;
  width: 15rem;
  font-size: 1rem;
  font-family: 'Luckiest Guy';
  text-shadow: 3px 0px 0x black;
  background-image: linear-gradient(#518829, black);
  border-radius: 100px;
  text-align: center;
  color: white; }

main button.juega:hover {
  transform: scale(1.2); }

main button.dona {
  height: 2rem;
  width: 15rem;
  font-size: 1rem;
  font-family: 'Luckiest Guy';
  background-image: linear-gradient(#e2332b, black);
  border-radius: 100px;
  text-align: center;
  color: white; }

main button.dona:hover {
  transform: scale(1.2); }

main button.comparte {
  height: 2rem;
  width: 15rem;
  font-size: 1rem;
  font-family: 'Luckiest Guy';
  background-image: linear-gradient(#130980, black);
  border-radius: 100px;
  text-align: center;
  color: white; }

main button.comparte:hover {
  transform: scale(1.2); }

footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center; }

@media screen and (min-width: 600px) {
  header {
    background-color: #2b388a; }
  main h1 {
    text-align: center;
    font-family: 'Luckiest Guy';
    color: #518829;
    text-shadow: 3px 0px 0px white; }
  main p {
    background-image: linear-gradient(#7547ff, #1140fb); }
  main section.botones {
    background-color: #d24adb;
    display: flex;
    flex-flow: row;
    align-items: center;
    text-align: center;
    justify-content: center; }
  footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    background-color: #2b388a; }
  .orlando {
    display: none; }
  .camarones {
    display: none; } }

@media screen and (min-width: 1024px) {
  header {
    background-color: #0a072e; }
  main h1 {
    text-align: center;
    font-family: 'Luckiest Guy';
    color: #e68829;
    text-shadow: 3px 0px 0px white; }
  main section.botones {
    background-color: #518829;
    display: flex;
    flex-flow: row;
    align-items: center;
    text-align: center;
    justify-content: center; }
  footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    background-color: #0a072e; }
  .orlando {
    display: none; }
  .algas {
    display: none; }
  .camarones {
    display: block; } }
